[Desktop Entry]
Type=Application
Name=Deezer
GenericName=Online music streaming service
Comment=Listen and download all your favorite music
StartupNotify=true
Icon=dev.aunetx.deezer.svg
Terminal=false
MimeType=x-scheme-handler/deezer;
Categories=Audio;Music;Player;AudioVideo;
Keywords=Music;Player;Streaming;Online;
StartupWMClass=Deezer
SingleMainWindow=true
X-GNOME-UsesNotifications=true

# Used by flatpak/flathub
Exec=run.sh %U
TryExec=run.sh